{# src/MehdiBundle/Resources/views/Article/about_us.html.twig #}

{% extends "MehdiBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block mehdi_body %}

  <h2>A propos de Nous</h2>

  <p>
   
     Notre projet de PST4 micro-géolocalisation, permet de visualiser et analyser l’interaction de personnes avec leur environnement (centre commercial dans notre cas), et proposer une solution intelligente et innovante, dans le cadre de l’utilisation de leur comportement.

Grace à des capteurs positionnés de façon stratégique, qui vont géo-localiser des personnes dans un espace à l’aide d’une application, des données vont être traiter afin d’envoyer des notifications personnalisées aux clients, en fonction de leur comportement. 
 </p>   

{% endblock %}
