{# src/MehdiBundle/Resources/views/Article/micro_geolocalisation.html.twig #}

{% extends "MehdiBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block mehdi_body %}

  <h2>Beacon</h2>

  <p>
        Le beacon (balise, en français), est un petit dispositif utilisant la norme Bluetooth 4.0 (basse consommation) pour interagir avec le smartphone d'un utilisateur passant à proximité du dispositif, par exemple pour lui envoyer des promotions (push notifications) lorsqu'il se trouve dans un point de vente.

	Cette technologie, initialement proposée par Apple, est encore peu implémentée, mais ses riches possibilités en feront sans doute un incontournable des magasins du futur. 
	 </p>   

{% endblock %}
