{# src/MehdiBundle/Resources/views/Article/contact.html.twig #}

{% extends "MehdiBundle::layout.html.twig" %}

{% block title %}
  Contact - {{ parent() }}
{% endblock %}

{% block mehdi_body %}

  <h2>Contactez nous:</h2>

  <ul>
   <p>
      N'hésitez pas à prendre contact si vous avez des questions ou pour avoir de plus ample information sur un sujet.</br></br>
      <h4>Mehdi Ghanemi</h4>
      Responsable communication </br>
      Email: ghanemi@et.esiea.fr </br>
      Tél: 07.82.92.18.33 </br>
      Addresse: 72 avenue Maurice Thorez </br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;94200 Ivry-Sur-Seine</br>
      
      
      
      {#&nbsp; signifie espace #}
   </p>
  </ul>

{% endblock %}