{# src/MehdiBundle/Resources/views/Article/index.html.twig #}

{% extends "MehdiBundle::layout.html.twig" %}

{% block title %}
  Suprimer un article - {{ parent() }}
{% endblock %}

{% block mehdi_body %}

  <h2>Supression réussie</h2>

    <p>Vous avez supprimer l'article  {{id}} </p>

{% endblock %}

