{# src/MehdiBundle/Resources/views/Article/index.html.twig #}

{% extends "MehdiBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block mehdi_body %}

  <h2>PST4</h2>

  <p>
   
      Bonjour à tous,</br>
      </br>

      Ce site à pour but de présenter les résultats de notre PST4 : Microgéolocalisation avec des beacons. </br>
      Nous allons microgéolocaliser les gens c'est à dire calculer la position des gens sur site de manière précise à un instant t, étudier ses positions du moment où il est rentré jusqu'à son départ et ainsi reconstituer son trajet. L'ensemble des parcours des gens nous permettra de connaitre les habitudes des gens. Pour un centre commercial, ce sytème prmettra de connaitre les habitudes des gens et surtout leurs proposer des produits selon ce qu'ils aiment.

 </p>   

{% endblock %}