{# src/MehdiBundle/Resources/views/Article/beacon.html.twig #}

{% extends "MehdiBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block mehdi_body %}

  <h2>La microgéolocalisation</h2>

  <p>
   
      La microgéolocalisation est la capacité de localiser une personne de manière plus précise qu'avec un simple sytème GPS.
Avec les Beacons, nous seront capable de déscendre à moins de 30 cm

 </p>   

{% endblock %}
